.conteiner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.btnVoltar {
  background-color: var(--tertiary) !important;
  border-radius: 50px;
  position: absolute !important;
  top: 3% !important;
  left: 3% !important;
}

.contentCadastro {
  width: 40%;
  padding: 3%;
  background-color: white;
  border-radius: 20px;
  border: 2px solid var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txtTitulo {
  color: var(--secondary);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: 6% !important;
}

.inputCategoria {
  width: 100% !important;
  margin-top: 6% !important;
}

.inputEstadoPreco {
  width: 100%;
  margin-top: 6%;
  display: flex;
  justify-content: space-between;
}

.inputSelectEstado {
  width: 15vw !important;
}

.btnForm {
  margin-top: 5% !important;
  background-color: var(--tertiary) !important;
  font-size: 1rem !important;
  font-weight: bold !important;
}

.divider {
  margin-top: 5% !important;
  color: var(--secondary) !important;
}

.btnForm:nth-child(2) {
  width: 100% !important;
  background-color: var(--secondary) !important;
}

.caixaDeSelecao {
  height: 120px;
  border: 1px dotted rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 6%;
}

.caixaDeSelecao::before {
  content: "Anexar arquivos";
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.38);
  position: absolute;
  top: -8px;
  left: 60px;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 4px;
}

.textCaixaDeSelecao {
  font-size: 1.1em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.38);
}

.contentCaixaDeSelecao {
  display: flex;
  flex-direction: column;
}

.contentCaixaDeSelecao > :nth-child(2) {
  margin: 1% 0 0 1%;
  font-size: 0.8em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.38);
}

.contentBtns {
  margin-top: 5% !important;
  display: flex;
  justify-content: center;
}

.contentBtns > :nth-child(2) {
  margin-left: 5%;
}

.UploadFile {
  width: 100%;
  height: 100%;
  display: none;
}
